apiVersion: v1
kind: Pod
metadata:
  name: supermario-pod
  labels:
    app: mario
spec:
  containers:
  - name: supermario-demo
    image: pengbai/docker-supermario
    ports:
    - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata: 
  name: supermario-service
spec:
  selector:
    app: mario
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: LoadBalancer
